@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD Test</h1>
    <div class="mt-3">
        <a class="btn btn-primary" asp-controller="Product" asp-action="Product">Ir a Productos</a>
        <a class="btn btn-success" asp-controller="Category" asp-action="Category">Ir a Categorías</a>
    </div>
</div>
